name: Build doc
on:
  push:
    branches:
      - master 
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install --force-reinstall -v "setuptools==71.0.0"
      - run: pip install --force-reinstall -v "mkdocs-material==9.2.5"
      - run: sudo apt-get update
      - run: sudo apt-get install
      - run: curl "http://code-samples.cxbox.org/api/v1/githubcode/" >githubcode.zip
      - run: unzip githubcode.zip
      - run: chmod -R 777 docs/
      - run: pip install --no-cache-dir mkdocs-redirects
      - run: pip install --no-cache-dir mkdocs-markdownextradata-plugin
      - run: pip install --no-cache-dir mkdocs-mermaid2-plugin
      - run: mkdocs gh-deploy --force